@{
    string errorMessage = ViewData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="error-message">
        <p style="color:red">@errorMessage</p>
    </div>
}