@{
    string errorMessage = ViewData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="error-message">
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    </div>
}