
@{
    ViewBag.Title = "Manager";
}

<h2>Manager Main Page</h2>

<ul>
    <li><a href="UpdateAccount">Update Account Information</a></li>
    <li><a href="ManageJobPosting">Manage Job Posting</a></li>
    <li><a href="ManageApplications">Manage Applications</a></li>
    <li><a href="ManageEmployees">Check Employees</a></li>
</ul>
<a href="@Url.Action("Index", "Home")">Log Out</a>
