@{
    ViewBag.Title = "User";
}

<h2>User Main Page</h2>

<ul>
    <li><a href="UpdateAccount">Update Account Information</a></li>
    <li><a href="ApplyJob">Apply jobs</a></li>
    <li><a href="MyApplications">My Applications</a></li>
</ul>

<a href="@Url.Action("Index", "Home")">Log Out</a>
