@{
    ViewBag.Title = "Forgot_Password";
    Layout = "~/Views/Shared/_LayoutWithImg.cshtml";
}


@if (ViewBag.SuccessMessage != null)
{
    <div class="success-message">
        @ViewBag.SuccessMessage
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="error-message">
        @ViewBag.ErrorMessage
    </div>
}

<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-forgot-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "user" }))
            {
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Forgot Password</h1>
                </div>
                <div class="form-group">
                    @Html.TextBox("email", null, new { @class = "form-control form-control-user", maxlength = "50", @placeholder = "Enter Your Email", required = "required" })
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Send new Password</button>
            }
            <hr>
            <div class="text-center">
                <a class="small" href="@Url.Action("Index", "Home")">Go Main Page</a>
            </div>
        </div>
    </div>
</div>
