
@{
    ViewBag.Title = "Forgot_Password";
}

<form method="POST">
    <h2>Forgot Password</h2>
    <input type="email" name="email" placeholder="Enter Your Email" required>
    <button type="submit">Send new Password</button>
</form>

<a href="@Url.Action("Index", "Home")">Go Main Page</a>

@if (ViewBag.SuccessMessage != null)
{
    <div class="success-message">
        @ViewBag.SuccessMessage
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="error-message">
        @ViewBag.ErrorMessage
    </div>
}