
@{
    ViewBag.Title = "Forgot_Password";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.TextBox("email", null, new { maxlength = "50", @placeholder = "Enter Your Email", required = "required" })
    <button type="submit">Send new Password</button>
}


<a href="@Url.Action("Index", "Home")">Go Main Page</a>

@if (ViewBag.SuccessMessage != null)
{
    <div class="success-message">
        @ViewBag.SuccessMessage
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="error-message">
        @ViewBag.ErrorMessage
    </div>
}