
<head>
    <title>Home Page</title>
</head>

<body>
    <div class="selection-container">
        <h2>Welcome! Are you</h2>
        <a href="~/Manager/Login" class="selection-btn">Manager</a>
        <a href="~/User/Login" class="selection-btn">User</a>
        <h2>@ViewBag.Message</h2>

    </div>
</body>