@{
    ViewBag.Title = "Main Page";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-3 d-none d-block bg-manager-login-image"></div>

                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="selection-container">
                            <div class="text-center">
                                <h4 class="h4 text-gray-900 mb-4">Welcome! Are you</h4>
                            </div>
                            <a href="~/Manager/ManagerLoginPage" class="btn btn-primary btn-user btn-block">Manager</a>
                            <a href="~/User/UserLoginPage" class="btn btn-primary btn-user btn-block">User</a>
                            <br />
                            <div class="text-center">
                                <h5 class="h5 small text-gray-900 mb-4">@ViewBag.Message</h5> @*connection check*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 d-none d-block bg-user-login-image"></div>

            </div>
        </div>
    </div>
</div>
